@model CadeteriaMVC.ViewModel.PedidoViewModel

@{ViewData["Title"] = "Crear Pedido"; }

<div class="text-center">
    <h3>Crear pedido</h3>
</div>

<form asp-action="CrearPedido" method="post">
    <div class="container">
        <label asp-for="Cliente">Ingresa tu ID de cliente</label>
        <input type="text" asp-for="Cliente" />
        <span asp-validation-for="Cliente"></span>
    </div>

    <div class="container">
        <label asp-for="Observacion">Pedido</label>
        <input type="text" asp-for="Observacion" />
        <span asp-validation-for="Observacion"></span>
    </div>

    <div class="container">
        <label asp-for="TipoPedido">Tipo de pedido</label>
        <select asp-for="TipoPedido">
            <option value="@CadeteriaMVC.Entidades.TipoPedido.Delicado">@CadeteriaMVC.Entidades.TipoPedido.Delicado</option>
            <option value="@CadeteriaMVC.Entidades.TipoPedido.Ecologico">@CadeteriaMVC.Entidades.TipoPedido.Ecologico</option>
            <option value="@CadeteriaMVC.Entidades.TipoPedido.Express">@CadeteriaMVC.Entidades.TipoPedido.Express</option>
        </select>
    </div>

    <div class="container">
        <label asp-for="TieneCupon">Cupón</label>
        <select asp-for="TieneCupon">
            <option value="@true">Sí</option>
            <option value="@false">No</option>
        </select>
    </div>
    <input type="hidden" asp-for="Cliente" />
    <input type="submit" />
</form>