@{ /* En esta vista se mostrarán todos los pedidos que hay en el sitio, salvo los que ya hayan sido entregados,
   para permitirle a los cadetes que vean esta vista seleccionar los pedidos que desean tomar*/ }

@model List<CadeteriaMVC.ViewModel.PedidoViewModel>

@{ ViewData["Title"] = "Lista de pedidos pendientes";}

<div class="text-center">
    <h3>Listado de Pedidos pendientes</h3>
</div>

<table class="table">
    <tr>
        <th>Número de pedido</th>
        <th>Pedido</th>
        <th>Cliente</th>
        <th>Cadete</th>
        <th>Tipo de pedido</th>
        <th>Estado</th>
        <th>Cupón</th>
        <th>Valor del pedido</th>
        <th>Modificar estado</th>
    </tr>

    @foreach (CadeteriaMVC.ViewModel.PedidoViewModel P in Model)
    {
        <tr>
            <td>@P.ID</td>
            <td>@P.Observacion</td>
            <td>@P.Cliente</td>
            <td>@P.Cadete</td>
            <td>@P.TipoPedido</td>
            <td>@P.Estado</td>
            @{ if (P.TieneCupon == true)
                {
                    <td>Sí</td>
                }
                else
                {
                    <td>No</td>
                }
            }
            <td>@P.CostoPedido</td>
            @{
                if (P.Estado != CadeteriaMVC.Entidades.Estado.Entregado && P.Cadete == -1)
                {
                    <td>@Html.ActionLink("Tomar pedido", "UpdateCad", new { id = P.ID })</td>
                }
            }
        </tr>
    }
</table> 
