@model List<CadeteriaMVC.ViewModel.PedidoViewModel>
@{ ViewData["Title"] = "Lista de pedidos";}

<a class="btn btn-primary" href="AltaPedido" role="button">Hacer pedido</a>

<div class="text-center">
    <h3>Listado de Pedidos</h3>
</div>

<table class="table">
    <tr>
        <th>Número de pedido</th>
        <th>Pedido</th>
        <th>Cliente</th>
        <th>Cadete</th>
        <th>Tipo de pedido</th>
        <th>Estado</th>
        <th>Cupón</th>
        <th>Valor del pedido</th>
        <th>Modificar pedido</th>
        <th>Cancelar pedido</th>
    </tr>

    @foreach (CadeteriaMVC.ViewModel.PedidoViewModel P in Model)
    {
<tr>
    <td>@P.ID</td>
    <td>@P.Observacion</td>
    <td>@P.Cliente</td>
    <td>@P.Cadete</td>
    <td>@P.TipoPedido</td>
    <td>@P.Estado</td>
    @{ if (P.TieneCupon == true)
        {
            <td>Sí</td>
        }
        else
        {
            <td>No</td>
        }
    }
    <td>@P.CostoPedido</td>
    @{
        if (P.Estado == CadeteriaMVC.Entidades.Estado.Entregado)
        {
            <td>@Html.ActionLink("Modificar pedido", "UpdatePedido", new { id = P.ID })</td>
            <td>@Html.ActionLink("Cancelar pedido", "BajaPedido", new { id = P.ID })</td>
        }
    }
</tr>
    }
</table>