@model List<CadeteriaMVC.ViewModel.ClienteViewModel>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Modificar</th>
        <th>Eliminar</th>
    </tr>

    @foreach (CadeteriaMVC.ViewModel.ClienteViewModel C in Model)
    {
        <tr>
            <td>@C.Nombre</td>
            <td>@C.Direccion</td>
            <td>@C.Telefono</td>
            <td>
                <form asp-action="UpdateCliente" method="post" class="form-group">
                    <input type="hidden" name="id" value="@C.ID" />
                    <button type="submit" class="btn btn-outline-info waves-effect">Modificar</button>
                </form>
            </td>
            <td>@Html.ActionLink("Eliminar", "BajaCliente", new { id = C.ID })</td>
        </tr>
    }
</table>