@model List<CadeteriaMVC.ViewModel.PedidoViewModel>
@{ ViewData["Title"] = "Pedidos de " + ViewBag.nombre; }

<div class="text-center">
    <h3>Pedidos del cliente: @ViewBag.nombre</h3>
</div>

<a href="/Clientes/Inicio/@Model[0].Cliente" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Volver al inicio</a>

<br />
<br />

<a href="/Pedidos/AltaPedido/@Model[0].Cliente" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Hacer pedido</a>

<table class="table">
    <tr>
        <th>Cliente</th>
        <th>Direccion</th>
        <th>Observacion</th>
        <th>Estado</th>
        <th>Tipo</th>
        <th>Cupon</th>
        <th>Costo</th>
        <th>Modificar</th>
        <th>Eliminar</th>
    </tr>

    @foreach (CadeteriaMVC.ViewModel.PedidoViewModel C in Model)
    {
        CadeteriaMVC.Entidades.Cliente Cl = new RepositorioCliente().Buscar(C.Cliente);
<tr>
    <td>@Cl.Nombre</td>
    <td>@Cl.Direccion</td>
    <td>@C.Observacion</td>
    <td>@C.Estado</td>
    <td>@C.TipoPedido</td>
    @{ if (C.TieneCupon == true)
        {
            <td>Sí</td>
        }
        else
        {
            <td>No</td>
        }
    }
    <td>@C.CostoPedido</td>
    @{
        if (C.Estado != CadeteriaMVC.Entidades.Estado.Entregado)
        {
            <td>@Html.ActionLink("Modificar", "UpdatePedido", "Pedidos", new { id = C.ID })</td>
            <td>@Html.ActionLink("Eliminar", "BajaPedido", "Pedidos", new { id = C.ID })</td>
        }
    }
</tr>
    }
</table>
