@model CadeteriaMVC.Entidades.Cadete
@{ ViewData["Title"] = "Crear cadete"; }

<div class="text-center">
    <h3>Crear cadete</h3>
</div>

<form asp-action="CrearCadete" method="post">
    <div class="container">
        <label asp-for="Nombre">Nombre</label>
        <input type="text" asp-for="Nombre" />
        <span asp-validation-for="Nombre"></span>
    </div>

    <div class="container">
        <label asp-for="Direccion">Direccion</label>
        <input type="text" asp-for="Direccion" />
        <span asp-validation-for="Direccion" />
    </div>

    <div class="container">
        <label asp-for="Telefono">Telefono</label>
        <input type="text" asp-for="Telefono" />
    </div>

    <div class="container">
        <label asp-for="TipoVehiculo">Vehiculo</label>
        <select asp-for="TipoVehiculo">
            <option value="@CadeteriaMVC.Entidades.Cadete.Vehiculo.Auto">@CadeteriaMVC.Entidades.Cadete.Vehiculo.Auto</option>
            <option value="@CadeteriaMVC.Entidades.Cadete.Vehiculo.Moto">@CadeteriaMVC.Entidades.Cadete.Vehiculo.Moto</option>
            <option value="@CadeteriaMVC.Entidades.Cadete.Vehiculo.Bicicleta">@CadeteriaMVC.Entidades.Cadete.Vehiculo.Bicicleta</option>
        </select>
    </div>
    <input type="submit" />
</form>
