@model CadeteriaMVC.Entidades.Cadete

@{ ViewData["Title"] = "Modificar cadete"; }

<div class="text-center">
    <h3>Modificar cadete</h3>
</div>

<form asp-action="ModificarCadete" method="post">
    <div class="container">
        <label asp-for="Nombre">Nombre</label>
        <input type="text" asp-for="Nombre" />
        <span asp-validation-for="Nombre"></span>
    </div>

    <div class="container">
        <label asp-for="Direccion">Dirección</label>
        <input type="text" asp-for="Direccion" />
        <span asp-validation-for="Direccion"></span>
    </div>

    <div class="container">
        <label asp-for="Telefono">Teléfono</label>
        <input type="text" asp-for="Telefono" />
        <span asp-validation-for="Telefono"></span>
    </div>

    <div class="container">
        <label asp-for="TipoVehiculo">Vehiculo</label>
        <select asp-for="TipoVehiculo">
            <option value="@CadeteriaMVC.Entidades.Vehiculo.Auto">@CadeteriaMVC.Entidades.Vehiculo.Auto</option>
            <option value="@CadeteriaMVC.Entidades.Vehiculo.Moto">@CadeteriaMVC.Entidades.Vehiculo.Moto</option>
            <option value="@CadeteriaMVC.Entidades.Vehiculo.Bicicleta">@CadeteriaMVC.Entidades.Vehiculo.Bicicleta</option>
        </select>
    </div>

    <input type="text" asp-for="Id" value="@Model.Id" hidden />
    <input type="submit" />
</form>